.container .title {
    color: #fff;
    font-size: 4rem;
    text-align: center;
    margin: 2rem 0 1rem;
}

.cards-containers {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 2rem;
    max-width: 1200px;
    margin: 0 auto;
}

.cards-containers div {
    width: 30%;
    color: #fff;
    margin-bottom: 2rem;
    display: flex;
    flex-direction: column;
    background-color: #111;
    padding: 2rem;
    border-width: 2px;
    border-style: solid;
    border-radius: 20px;
    border-color: #111;
}

p .loading {
    text-align: center;
    font-size: 3rem;
}
